@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  scroll-behavior: smooth;
}
/* <=============Banner==============> */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/bg\ \(1\).jpg");
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
}
.btn {
  font-size: 1em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}

/* <=============header================> */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
.logo span {
  color: #ff0157;
}
.navbar {
  position: relative;
  display: flex;
}
.navbar li {
  list-style: none;
  margin-left: 20px;
}
.navbar li a {
  color: #fff;
  font-size: 300;
  text-decoration: none;
}
.navbar li a:hover {
  color: #ff0157;
}
.sticky {
  background-color: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.sticky .logo {
  color: #111;
}
.sticky li a {
  color: #111;
}

/* <============about==============> */

section {
  padding: 100px;
}
.about {
}
.about .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .col50 {
  position: relative;
  width: 48%;
}
.about .row .col50 .imgBx .title {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
span {
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 700;
}
.about .row .col50 .imgBx {
  position: relative;
  width: 100%;

  height: 100%;
}
.about .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*<=============== MEnu=================> */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;

  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}

.menu .content .box .imgBx {
  position: relative;
  height: 300px;
}

.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .imgBx text {
  padding: 15px 0 5px;
}

.menu .content .box .imgBx h3 {
  font-weight: 400;
  color: #111;
}
/* <=================.expert==================> */

.expert .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .box .imgBx text {
  padding: 15px 0 5px;
}
.expert .content .box .imgBx h3 {
  font-weight: 400;
  color: #111;
}

/* <==================They said Something about Us ===================> */

.testtimonials {
  background: url("./img/bg2\ \(1\).jpg");
  background-size: cover;
}
.testtimonials p {
  color: rgb(138, 131, 131);
}
.testtimonials h3 {
  color: #111;
}
.white > p {
  color: #fff;
}
.white {
  color: #fff;
}
.testtimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testtimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testtimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50px;
  overflow: hidden;
}
.testtimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testtimonials .content .box .text {
  text-align: center;
}
.testtimonials .content .box .text p {
  color: #666;
  font-style: italic;
}
.testtimonials .content .box h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}
/*<==============================contact====================> */
.contect {
  background: url("./img/bg3.jpg");
  background-size: cover;
}
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}
.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  cursor: pointer;
}
.copyrights {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.copyrights p {
  color: #333;
}
.copyrights a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}

/* <====================mobile friendly================> */

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
  }
  header.sticky {
    padding: 10px 20px;
  }
  header .navbar {
    display: none;
  }
  header .navbar.active {
    width: 100%;
    height: calc(100%-68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navbar li {
    margin-left: 0;
  }
  header .navbar li a {
    color: #111;

    font-size: 1.6em;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    /* background: url(); */
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    /* background: url(); */
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .line {
    height: 3px;
    margin: 5px;

    background-color: #fff;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  section {
    padding: 20px;
  }
  .banner .content h2 {
    font-size: 3em;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .about .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .testtimonials .content .box {
    margin: 10px;
    padding: 20px;
  }
  .contactForm {
    margin-top: 20px;
    padding: 35px 40px;
    margin-bottom: 30px;
  }
}
